<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="postcode" xsi:type="string">sales_order.postcode</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="order_postcode_extension_attribute" type="Sandbox\SalesOrderCustom\Plugin\OrderRepositoryPlugin"/>
    </type>
</config>
